@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;

.store-setup {
    text-align: center;
    font-family: "Montserrat";
    padding-top: 3rem;

    &__title {
        font-weight: 500;
    }

    &__subtitle {
        font-weight: 300;
    }

    &__aisle {
        border: solid 1px #7e97d2;
        border-radius: 15px;
        margin: 2rem 2rem 1rem 2rem;
    }

    &__aisle-number {
        text-align: center;
    }

    &__list-container {
        width: 100%;
    }

    &__list {
        display: flex;
        list-style: none;
        padding-left: 0;
    }

    &__item {
        font-weight: 300;
        padding-left: 2rem;
        padding-bottom: 0.1rem;
    }

} 