.grocery {
    
    text-align: center;
    font-family: "Montserrat";
    padding-top: 3rem;

    &__icon {
        height: 1.5rem;
        margin-left: 1rem;

        &:hover {
            height: 2rem;
            cursor: pointer;
        }
    }


    &__form {
        text-align: center;
    }

    &__input {
        height: 2rem;
        width: 15rem;
        border-radius: 15px;
        font-size: large;


    }

    &__button {
        margin-left: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 15px;
        color: #7e97d2;

        &:hover {
            cursor: pointer;
            background-color: #7e97d2;
            color: white;
        }

    }

    &__list {
        text-align: center;
        background-color: #d9e5ff;
        border: 1px solid;
        border-radius: 15px;
        margin: 2rem;

    }


    &__edit-container {
        margin: 2rem 0;
    }
}